@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", "sans-serif";
}


.navbar1 {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    padding: 15px 10px 10px 10px;
    background-color: rgb(39, 110, 241);
}
.navbar1 ul {
    display: flex;
}
.navbar1 ul li {
    padding-left: 8px;
    list-style: none;
}
.navbar1 ul li a {
    color: #000;
    font-size: 17px;
    text-decoration: none; 
    color: white;
}
#admin{
    border: 1px solid white;
    padding: 2px;
}
#admin1{
    border: 1px solid white;
    padding: 2px;
}
#about{
    text-decoration-line: underline;
    text-decoration-style: solid;
    margin-right: 5vw;
}
#logo{
    margin-right: 50vw;
    margin-left: 7vw;
}
.cmpnt{
    padding:50px 15px 10px 15px;
}
