@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Ubuntu", "sans-serif";
}

.leaflet-container {
    height: 100vh;
    width: 100%;
}

a:hover , link:hover {
    text-decoration: none;
}

.cmpnt{
    padding: 50px 15px 10px 15px;
}

@media (max-width: 768px) {
    .leaflet-container {
        width: 100vw;
    }

    .navbar {
        width: 60%;
    }
}
.button{
    width: 90%;
    height: 40px;
    border-radius: 10px;
}
.input{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    background-color: #E8E9F1;
    border-color: #276EF1;
    padding: 1em;
}
