@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", "Ubuntu", "sans-serif";
}

.leaflet-container {
    height: 100vh;
    width: 100%;
}

a:hover , link:hover {
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    list-style: none;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    padding: 1em;
    height: 100vh;
    width: 30%;
    position: absolute;
    background: #276EF1;
    color: white;
    z-index: 999999;
}


.navbar > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.navbar li * {
    text-decoration: none;
    font-size: 1.2em;
}

.back-btn {
    position: absolute;
    top: 1.2em;
    left: 80%;
    cursor: pointer;
}

.cmpnt{
    padding: 50px 15px 10px 15px;
}

@media (max-width: 768px) {
    .leaflet-container {
        width: 100vw;
    }

    .navbar {
        width: 60%;
    }
}
